.product-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .product-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .product-table img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
  }
  